img[src*="#normal"] {
    width: 90%;
    border: 1px solid black;
    border-radius: 4px;
    padding: 1px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

img[src*="#normal2"] {
    width: 40%;
    border: 1px solid black;
    border-radius: 4px;
    padding: 1px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

div[class="toc"] {
    margin-left: -7mm;
    margin-bottom: 1cm;
}
